# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
.DS_Store
.jdk
mdk-1.21.1
original-danknull

# local gameplay testing
DeepNull Testing 26.1/
layout-backups/
logs/

repo
